<!--  
プログラム名:　社員情報管理 
このファイルの説明: 編集画面
作成者: 福本
作成日: 2022/11/16
更新日:2022/12/22 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</dependency> 
<title></title>


<head>
<meta charset="utf-8">
<title>check</title>
</head>
<link th:href="@{/css/add.css}" rel="styleSheet">
<body>
	
 <h2>ID:<a th:text="${id}" ></a>の社員情報編集ページ</h2>

<p>(パスワードは変更する場合のみ入力してください)</p>
  
 
  <form th:action="@{/employees/update}" th:object="${EditList}"method="post" th:each="edit : ${EditList}">
    <div class="box1"><p>ID：<input type="text" th:value="${id}" name="id" id="id"></p></div>
  <p>社員番号：<input type="text" th:value="${edit.employee_code}" name="employee_code" id="employee_code"></p>
  <p>氏名：<input type="text" th:value="${edit.employee_name}" name="employee_name" id="employee_name"></p>
  <p>パスワード：<input type="text"  th:value="${edit.password}" name="password" id="password"></p>
  <p>権限（0or１)<input type="text"  th:value="${edit.admin_flag}" name="admin_flag" id="admin_flag" ></p> 
  <p>所属部署※後でプルダウン変更：<input type="text"  th:value="${edit.department_id}"  name="department_id" id="department_id"></p>
  <p><input type="submit" value="更新"></p>
   <!--※パスワード（未実装機能）　
   　・パスワードの初期値は表示しない（セキュリティ上）。　
　　　　・空欄で入力された場合はパスワードを変更しない、値を入力された場合パスワードを更新するように、条件分岐させる。
　　　-->
</form>

<div class="box1"><a th:text="${id}" ></a></div>

<a th:text="削除"th:href="@{/employees/{id}/destroy(id=*{id})}" onclick="confirmDestroy();" ></a>
 <script>
                    function confirmDestroy() {
                        if(confirm("本当に削除してよろしいですか？")) {
                            document.forms[1].submit();
                        }
                    }
                </script>
<br><a th:text="一覧に戻る"th:href="@{/employees/index/entrance}" ></a>
</body>
</html>