<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>社員情報管理、登録画面</title>



<head>
<meta charset="utf-8">
<title>check</title>
</head>

<body>



		<br> <br>
		<h2>社員を新規で登録する</h2>
		
		
		<form th:action="@{/inputAll}" th:object="${employeeForm}" method="post">
			<p>社員番号：<input type="text" th:field="*{employee_code}"></p>
			<p>氏名：<input type="text" th:field="*{employee_name}"></p>
			<p>パスワード：<input type="text" th:field="*{password}"></p>
			<p>権限：<input type="text" th:field="*{admin_flag}"></p>
			<p>所属部署：<input type="text" th:field="*{department_id}"></p>
			<p><input type="submit" value="新規登録">
		</form>
	

</body>
</html>